name: Build Windows Executable

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'Asteroids'
          spec: 'Asteroids.spec'
          options: --onefile, --windowed, --add-data "space.png;.", --add-data "sounds;sounds", --name Asteroids, main.py
